<!DOCTYPE html>
<html>
<head>
    <title>View Code Snippets</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/myapp/css/styles.css' %}">
  
</head>
<body>


    <h1>View Code Snippets</h1>
    <div class="wrap">
        <div class="search">
            <form method="get">
                {% csrf_token %}
                <input type="text" name="query" id="query"   class="searchTerm" placeholder="View Code Snippets">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </form>

        </div>
    </div>

    <div class="table">
      <table class="container" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Created At</th>
                <th>Address</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.0|escape }}</td>
                <td>{{ row.1|escape }}</td>
                <td>{{ row.2|escape }}</td>
                <td>{{ row.3|escape }}</td>
                <td><a href="{{ row.4 }}">{{ row.4|escape }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
        
      </table>
    </div>

 
  

</body>

</html>